body {
    background-color: gray;
    color: white;
}

h2 {
    font-weight: bold;
    text-decoration: underline;
}

.main-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 1rem; */
}

.buttons-wrapper, .log-wrapper {
    display: flex;
    /* width: 600px; */
}

.main-wrapper div {
    flex-basis: 30%;
}

.stat-bar {
    width: 200px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
}

.stat-bar.health {
    border: 2px solid #333;
    background-color: #f00;
}
.stat-bar.exp {
    border: 2px solid #333;
    background-color: gray;
}

.bar-label {
    position: absolute; /* Prevents text from overflowing */
}

.bar-inner {
    height: 100%;
    transition: width 0.3s ease; /* Smooth transition for width changes */
}

.bar-inner.health {
    background-color: #0f0;
}

.bar-inner.exp {
    background-color: blue;
}

textarea {
    resize: none;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
}